
<form action="/sign-up" method="post">
    <p> Note: If you enter a new username and password,
         a new account will be signed up. To log into your session,
         use your own username and password.
     </p>
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Sign Up"/>
    </div>
</form>